<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Workout Applicaton to store your workouts and personal records" />
    <meta name="keywords" content="exercise, workout, lifting" />
    <title>Workout App</title>
</head>
<body>
    {% load static %}
    <div id="root"></div>
    <script src="{% static 'frontend/main.js'%}"></script>
</body>
</html>